<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/homepage.css">
    <title>Chat App</title>
</head>
<body>
    <nav>
        <img class="logo" src="/logo.png" alt="">
        <ul class="nav_links">
            <li class="nav_link"><a href="#">Contribute</a></li>
            <li class="nav_link"><a href="#">Donate</a></li>
            <li class="nav_link"><a href="#">Source</a></li>
        </ul>
    </nav>
    <div class="content">
        <main>
            <h1 class="hero_text">
                Secure & Private Dark Web Conversations
            </h1>
        </main>
        <div class="form-container">
        <p class="title">Continue to ShadowChat</p>
        <form action="/room" method="POST" class="input-form">
            <input type="text" placeholder="Enter your Name" class="username" name="username" required>
            <input type="text" placeholder="Enter Room Name" class="roomname" name="roomname" required>
            <input type="submit" value="Enter" class="submit-button">
        </form>
    </div>
    </div>
</body>
</html>